src/**
test/**
tsconfig.json
esbuild.mjs
node_modules/**
.vscode/**
.github/**
media/codivew-icon-*.png
!media/codivew-icon-128.png
**/*.map
.gitignore
.gitattributes
.prettierrc
eslint.config.mjs
package-lock.json
